{% extends 'base.html.twig' %}
{% block title %}Spielstätten verwalten{% endblock %}

{% block body %}
<div class="container my-4">
    <h1 class="mb-4">Spielstätten verwalten</h1>
    <table class="table table-striped align-middle" id="locations-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>Stadt</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr data-id="{{ location.id }}">
                    <td>{{ location.name }}</td>
                    <td>{{ location.address }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.latitude }}</td>
                    <td>{{ location.longitude }}</td>
                    <td>
                        {% if is_granted(permissions.EDIT, location) %}
                        <button class="btn btn-sm btn-primary edit-location-btn" data-id="{{ location.id }}">
                            <i class="fas fa-edit"></i> 
                            Bearbeiten
                        </button>
                        {% endif %}
                        {% if is_granted(permissions.DELETE, location) %}
                        <button class="btn btn-sm btn-danger delete-location-btn" data-id="{{ location.id }}">
                            <i class="fas fa-trash"></i> 
                            Löschen
                        </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="locationEditModalContainer"></div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/location-admin.js"></script>
{% endblock %}
